test_add
test_band_pass_filter
test_biquad_filter
test_delay
test_divide
test_dpw_pulse
test_dpw_saw
test_dpw_triangle
test_envelope
test_high_pass_filter
test_low_pass_filter
test_modulo
test_multiply
test_parameter
test_pulse
test_rates
test_saw
test_sine
test_sizes
test_subtract
test_tap
test_triangle
test_trigger
test_types
test_unit
test_util
test_white_noise
